<GridLayout columns="*, 70, 40" rows="50" class="new-product p-y-10 p-x-5"  #newProdLayout>
  <TextField class="input-text" col="0"  hint="Add item" [(ngModel)]="product.name"></TextField>
  <TextField class="input-text" col="1" marginLeft="5" hint="Quant" [(ngModel)]="product.quantity"></TextField>
  <Label *ngIf="!product?.name" text="{{'0xf02a' | font}}" col="2" (tap)="barcodeScan()" class="fontawesome-icons" horizontalAlignment="center" verticalAlignment="center"></Label>
  <Label *ngIf="product?.name" text="{{'0xE876' | font}}" col="2" (tap)="save()" class="material-icons test" horizontalAlignment="center"  verticalAlignment="center"></Label>
</GridLayout>