<FlexboxLayout  class="p-10" flexDirection="column" alignContents="center" verticalAlignment="center">
  
  <StackLayout class="m-b-15">
    <Label text="Email" class="input-label m-0"></Label>
    <TextField required hint="Email here" [(ngModel)]="email" class="m-0"></TextField>
  </StackLayout>

  <StackLayout class="m-b-15">
    <Label text="Password" class="input-label m-0"></Label>
    <TextField required hint="Enter your password" class="m-0" [(ngModel)]="password" [text]="password" secure="true"></TextField>
  </StackLayout>

  <Button text="Login" (tap)="login()" class="btn btn-primary login"></Button>

  <Label *ngIf="errorMessage" class="c-ruby text-center" [text]="errorMessage"></Label>

</FlexboxLayout>
