@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';

$googleColor: #db4437;
$facebookColor: #4267b2;

Actionbar {
  border-width: 1;
  border-color: transparent;
}

TabView {
  // background-color: aqua;
}

.login {
  margin: 0;
  &.google {
    background-color: $googleColor;
    color: white;
  }
  &.facebook {
    background-color: $facebookColor;
    color: white;
  }
}

.fontawesome-icons {
  font-family: 'fontawesome-webfont';
  font-size: 26;
}
.material-icons {
  font-family: "MaterialIcons-Regular";
  font-size: 26;
}

.page {
  // background-color: #DDD;
}

.test {
  border-color: #111; 
  border-width: 1; 
}

.product {
  border-left-color: orange; 
  border-left-width: 5; 
  background-color: #EEE;
  .name {
    color: #111;
  }
}

.ingridient{
  background-color: #EEE;
  &.even {
    background-color: #DDD;
  }
}

.input-label {
  font-weight: bold;
}

.input-text {
  background-color: white; 
  border-color: #EEE; 
  border-width: 1; 
}
.text-only{
  width: 20;
  height: 20;
}

.new-product {
  color: #111;
  border-bottom-color: #EEE; 
  border-bottom-width: 1; 
}

.fab-button {
  width: 55;
  height: 55;
}