@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';

$googleColor: #db4437;
$facebookColor: #4267b2;

.login {
  margin: 0;
  &.google {
    background-color: $googleColor;
    color: white;
  }
  &.facebook {
    background-color: $facebookColor;
    color: white;
  }
}

.fontawesome-fa-brands-400{
  font-family: 'fa-brands-400';
}
.fontawesome-solid-900 {
  font-family: 'fa-solid-900';
}
.fontawesome-fa-regular-400 {
  font-family: 'fa-regular-400';
}
.fontawesome-icons {
  font-family: 'fa-regular-400', 'fa-regular-400', 'fa-brands-400';
}
.material-icons {
  font-family: "MaterialIcons-Regular";
  font-size: 36;
}

.page {
  // background-color: #DDD;
}

.product {
  color: #111;
  border-left-color: orange; 
  border-left-width: 5; 
  background-color: #EEE;
}

.input-label {
  font-weight: bold;
}

.input-text {
  background-color: white; 
  border-color: #EEE; 
  border-width: 1; 
}
.text-only{
  width: 20;
  height: 20;
}

.new-product {
  color: #111;
  border-bottom-color: #EEE; 
  border-bottom-width: 1; 
}