<GridLayout columns="*, 30, 30" rows="30" class="c-bg-white  p-r-2 p-l-10 p-y-10 m-y-2 m-x-4 product"  >
  <Label [text]="product.name + ' - ' + product.quantity" col="0" class="name" verticalAlignment="center"></Label>
  <Label text="{{'0xE254' | font}}" col="1" (tap)="editProduct()" class="material-icons action" verticalAlignment="center"></Label>
  <Label text="{{'0xE872' | font}}" col="2" (tap)="removeProduct()" class="material-icons action" verticalAlignment="center"></Label>
</GridLayout>